@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,600;0,700;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
}

.contenedor{
    width: 100%;
    margin: 15px auto;
}

.elemento{
    width: 400px;
    border: solid;
    border-radius: 15px;
    padding: auto;
    background: #fff;
    float: left;
    margin-right: center;
    margin-bottom: center;
    box-shadow: 0 1px 2px, 0 rgba(0,0,0,0.22);
    
}

.elemento p{
    padding: 10px;
    font-size: 13px;
    height:30%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;

    padding: 0;
    font-family: 'IBM Plex Sans', serif;
    text-align: center;
    color:blue;
    font-size: 16px;
    padding:20px;
    background-color:white;
}
h4{
    font-size: small;
    font-style: italic;
}
h3{
    background-color:lightgray;
    display: flexS;
    justify-content: center;
    align-items: center;
}
#Fondogris{
    background-color: lightgrey;
    align-items: center;
}
.programa {
    /* Rounded border */
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.programa__image {
    /* Rounded border */
    border-radius: 50%;

    /* Take full size */
    height: 100%;
    width: 100%;
}
.escuela {
    /* Rounded border */
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.escuela__image {
    /* Rounded border */
    border-radius: 50%;

    /* Take full size */
    height: 100%;
    width: 100%;
}
.subtitulo{
    font-size: 20px;
    font-style: italic;
}
.subtitulo2{
    font-size: 15px;
    font-style:oblique;
    align-items: center;
}
.fotografia{
    max-width: 300px;
    margin: 5px 0; 
}
.escudo{
    max-width: 300px;
    margin: 5px 0; 
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;


